@define-mixin atSmall {
  @media (min-width: 570px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 780px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1110px) {
    @mixin-content;
  }
}

@define-mixin atFull {
  @media (min-width: 1260px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
