@define-mixin atSmall {
  @media (min-width: 580px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 730px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1190px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
