.btn {
  font-size: 0.9rem;
  background-color: $mainBlue;
  color: white;
  text-decoration: none;
  padding: 0.7rem 1.1rem;
  display: inline-block;
  transform: translateY(-15px);

  @mixin atSmall {
    transform: translateY(0);
  }
  @mixin atMedium {
    transform: translateY(0);
  }

  &--orange {
    background-color: $mainOrange;
    transform: translateY(0);
  }

  &--large {
    font-size: 0.9rem;
    padding: 0.75rem 1.2rem;
    transform: translateY(0);

    @mixin atSmall {
      font-size: 1.2rem;
      padding: 0.9rem 1.5rem;
    }
  }
}
