.btn {
  background-color: $mainBlue;
  color: white;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  display: inline-block;

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    font-size: 0.9rem;
    padding: 0.75rem 1.2rem;

    @mixin atSmall {
      font-size: 1.2rem;
      padding: 0.9rem 1.5rem;
    }
  }
}
