.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 350;
    color: $mainBlue;
    font-size: 1.5rem;
    margin: 0;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.1);

    @mixin atSmall {
      font-size: 2.3rem;
    }
    @mixin atMedium {
      font-size: 3rem;
    }
    @mixin atLarge {
      font-size: 4.8rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1rem;
    margin: 0;
    margin-top: 1%;

    @mixin atSmall {
      font-size: 1.45rem;
    }
    @mixin atMedium {
      font-size: 1.9rem;
    }
    @mixin atLarge {
      font-size: 3rem;
    }
  }

  &__description {
    font-weight: 100;
    color: white;
    font-size: 1rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.1rem;
    }
    @mixin atMedium {
      font-size: 1.4rem;
    }
    @mixin atLarge {
      font-size: 1.7rem;
    }
  }
}
