.large-hero {
  position: relative;

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 300;
    color: #2f5572;
    font-size: 4rem;
  }

  &__subtitle {
    font-weight: 300;
    color: #2f5572;
    font-size: 2.8rem;
  }
}
