.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    padding-top: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;

    @mixin atLarge {
      padding-top: 30px;
    }
  }

  &__title {
    font-weight: 350;
    color: $mainBlue;
    font-size: 1.5rem;
    margin: 0;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.1);

    @mixin atSmall {
      font-size: 2.3rem;
    }
    @mixin atMedium {
      font-size: 3rem;
    }
    @mixin atLarge {
      font-size: 4rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 0.9rem;
    margin: 0;
    margin-top: 0.5%;

    @mixin atSmall {
      font-size: 1.4rem;
    }
    @mixin atMedium {
      font-size: 1.7rem;
    }
    @mixin atLarge {
      font-size: 2rem;
    }
  }

  &__description {
    font-weight: 100;
    color: white;
    font-size: 0.9rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    max-width: 16rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.1%;

    @mixin atSmall {
      font-size: 1.1rem;
      max-width: 24rem;
    }
    @mixin atMedium {
      font-size: 1.4rem;
      max-width: 24rem;
    }
    @mixin atLarge {
      font-size: 1.6rem;
      max-width: 24rem;
    }
  }
}
