.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--blue {
    background-color: $mainBlue;
    color: white;
  }

  &--testimonials {
    background: url("/assets/images/background-data.png") top center no-repeat;
    background-size: cover;
  }
}
