.primary-nav {
  &--pull-right {
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    float: left;
    padding-right: 20px;
    padding-top: 12px;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 300;
  }
}
