.section-title {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall {
    font-size: 3.5rem;
  }

  strong {
    font-weight: 500;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6rem;

    @mixin atSmall {
      margin-right: 1rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }
}
