.site-header {
  padding: 10px 0;
  position: absolute;
  z-index: 2;
  width: 100%;

  @mixin atMedium {
    background-color: rgba(47, 85, 114, 0.3);
  }

  &__btn-container {
    float: right;
  }

  &__logo {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 4px 4px rgba(65, 65, 65, 0.5);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: honeydew;
    padding: 0.1px 12px;

    @mixin atSmall {
      padding: 2px 16px;
    }

    @mixin atMedium {
      left: auto;
      transform: translateX(0%);
      padding: 6px 22px;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    display: none;

    @mixin atMedium {
      display: block;
    }
  }
}

.logo-size {
  width: auto;
  max-height: 54px;

  @mixin atSmall {
    width: auto;
    max-height: 82px;
  }

  @mixin atMedium {
    width: auto;
    max-height: 82px;
  }

  @mixin atLarge {
    width: auto;
    max-height: 116px;
  }

  @mixin atFull {
    width: auto;
    max-height: 152px;
  }
}
