.site-header {
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  transition: background-color 0.5s ease-out;

  &--is-expanded {
    background-color: rgba(47, 85, 114, 0.55);
  }

  @mixin atMedium {
    padding: 15px 0;
    background-color: rgba(47, 85, 114, 0.5);
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 4px 4px rgba(65, 65, 65, 0.5);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: honeydew;
    padding: 0.1px 12px;

    @mixin atSmall {
      padding: 2px 16px;
    }

    @mixin atMedium {
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      left: auto;
      transform: translateX(0%);
      padding: 6px 22px;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    &__top {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: white;
    }

    &__middle {
      position: absolute;
      top: 6px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: white;
    }

    &__bottom {
      position: absolute;
      top: 12px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: white;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.5s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 85px;
    text-align: center;

    @mixin atSmall {
      padding-top: 95px;
    }

    @mixin atMedium {
      padding-top: 100px;
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }
}

.logo-size {
  width: auto;
  max-height: 54px;

  @mixin atSmall {
    width: auto;
    max-height: 82px;
  }

  @mixin atMedium {
    width: auto;
    max-height: 82px;
  }

  @mixin atLarge {
    width: auto;
    max-height: 116px;
  }

  @mixin atFull {
    width: auto;
    max-height: 152px;
  }
}
