.site-header {
  padding: 10px 0;
  position: absolute;
  z-index: 2;
  width: 100%;

  @mixin atMedium {
    background-color: rgba(47, 85, 114, 0.3);
  }

  &__btn-container {
    float: right;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $mainBlue;
    padding: 10px 23px;

    @mixin atSmall {
      padding: 12px 27px;
    }

    @mixin atMedium {
      left: auto;
      transform: translateX(0%);
      padding: 25px 36px;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    display: none;

    @mixin atMedium {
      display: block;
    }
  }
}

.logo-size {
  width: auto;
  max-height: 30px;

  @mixin atSmall {
    width: auto;
    max-height: 40px;
  }

  @mixin atMedium {
    width: auto;
    max-height: 40px;
  }

  @mixin atLarge {
    width: auto;
    max-height: 56px;
  }
}
