.social-icons {
  text-align: center;

  &__icon {
    background-color: $mainOrange;
    display: inline-block;
    width: 52px;
    height: 52px;
    margin: 0 5px 5px 5px;
    position: relative;

    @mixin atSmall {
      width: 72px;
      height: 72px;
    }

    img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
